In [ ]:
import pandas as pd
import os
import numpy as np

student_data = os.path.join('resources', 'new_student_data.csv')
student_df = pd.read_csv(student_data)
student_df["student_name"]

In [ ]:
student_df.isna().sum()

student_df = student_df.dropna()
student_df.isna().sum()

In [ ]:
student_df.duplicated().sum()

student_df = student_df.drop_duplicates()
student_df.duplicated().sum()

In [16]:
student_df.dtypes

student_id         int64
student_name      object
grade              int64
school_name       object
reading_score    float64
math_score       float64
school_type       object
dtype: object

In [18]:
student_df['grade']

0        11
2        12
3        11
4        12
5         9
         ..
13935    10
13936    10
13937     9
13938    10
13939    11
Name: grade, Length: 10604, dtype: int64

In [ ]:
student_df['grade'] = student_df['grade'].astype(int)

In [19]:
student_df.head()

,student_id,student_name,grade,school_name,reading_score,math_score,school_type
0,127008367,Sarah Douglas,11,Chang High School,87.2,64.1,Public
2,44359500,Ryan Haas,12,Campbell High School,91.6,54.7,Public
3,24791243,Kathryn Mack,11,Richard High School,68.9,73.3,Charter
4,121467881,Harold Reynolds,12,Chang High School,68.7,43.4,Public
5,79397676,Kyle Brooks,9,Turner High School,72.6,55.4,Public